NODE_ENV=development
PORT=4200
DATABASE_URL=
APP_URL=http://localhost:5173
API_URL=http://localhost:4200

INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
